<!DOCTYPE html>
<html>
<head>
  <title>TestAppNew</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/eleganticons@0.0.1/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
</head>

<body>
  <%= render 'layouts/header'%>
  <%= yield %>
  <%= render 'layouts/footer'%>
</body>
</html>
